.story-filters {
    margin-left: 15px;
    margin-top: 15px;
}

.mdl-card {
    width: 500px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.mdl-navigation__link.active{
    background: #3f51b5;
}
